* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.topbar {
    width: 100vw;
    height: 18vh;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    display: block;
    top: 18vh;
    left: 0;
    width: 100vw;
    height: 82vh;
    background-color: white;
    cursor: crosshair;
}

.no-draw {
    width: 30vw;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    position: absolute;
    border: 1px black solid;
    background-color: white;
    vertical-align: middle;
    z-index: 5;
}

.controls {
    position: absolute;
    padding-top: 10px;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 10;
}

.color button {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #00000026;
    border-radius: 70%;
    outline: none;
    cursor: pointer;
}

.color button:nth-of-type(1) {
    background-color: #FBFF00;
}

.color button:nth-of-type(2) {
    background-color: #009fff;
}

.color button:nth-of-type(3) {
    background-color: #000000;
}

.color button:nth-of-type(4) {
    background-color: #FF0000;
}

.color button:nth-of-type(5) {
    background-color: #3EFF00;
}

.color button:nth-of-type(6) {
    background-color: #FFF;
}