body {
    background-color: #f1ece6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

.topbar {
    width: 100%;
    height: 15%;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.topbar-text {
    margin-left: 2%;
    font-size: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.table {
    width: 100%;
}

.table-text {
    font-size: 2vh;
    color: black;
    text-decoration: none;
    text-align: center;
}

.table-text:hover {
    color: black;
    text-decoration: underline;
    text-align: center;
}

.table-column {
    width: 25vw;
    height: 17vh;
    text-align: center;
    vertical-align: bottom;
}

.table-images {
    width: 25vw;
    height: 20vh;
    text-align: center;
    vertical-align: top;
}

.start-info1 {
    padding-left: 30vw;
    padding-right: 30vw;
    text-align: center;
}

.start-info2 {
    padding-left: 30vw;
    padding-right: 30vw;
    text-align: center;
}