* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1ece6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

.topbar {
    width: 100vw;
    height: 18vh;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.members-text {
    color: black;
    text-decoration: none;
    font-size: 2vh;
}

.members-text:hover {
    color: black;
    text-decoration: underline;
    font-size: 2vh;
}

.table-image-column {
    height: 82vh;
    width: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
    place-items: center;
}

.table-description {
    width: 55vw;
    height: 82vh;
    text-align: left;
    vertical-align: middle;
}

.text {
    padding-bottom: 2vh;
}

.slide {
    grid-area: 1 / 1;
    opacity: 0;
}

.active {
    opacity: 1;
}

.prev {
    width: 5vw;
    height: 82vh;
    text-align: right;
    vertical-align: middle;
}

.next {
    width: 5vw;
    height: 82vh;
    text-align: left;
    vertical-align: middle;
}