* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f1ece6;
}

.topbar {
    width: 100vw;
    height: 18vh;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.game {
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 8vw);
    gap: 1vw;
}

.card {
    height: 15vh;
    background: #352d29;
    background-image: url("images/cortis_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: inherit;
    aspect-ratio: 3 / 4;
    border-radius: 1vh;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 1vh;
}

.card.flipped,
.card.matched {
    background: #f1ece6;
    cursor: default;
    justify-content: center;
}