* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 12vw);
    gap: 15px;
}

.card {
    width: 10vw;
    height: 15vh;
    background: red;
    color: blue;
    display: flex;
    cursor: pointer;
}

.card.flipped,
.card.matched {
    background: white;
    color: yellow;
    cursor: default;
}