* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1ece6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.topbar {
    width: 100vw;
    height: 18vh;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.grid {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    width: 80vw;
    margin: 0 auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.item {
    justify-items: center;
}

.item-name {
    font-size: medium;
    margin-left: 1vh;
}

.item-price {
    font-size: small;
    margin-top: 1vh;
    margin-left: 1vh;
}