* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1ece6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

.topbar {
    width: 100vw;
    height: 18vh;
    background-color: #352d29;
    display: flex;
    align-items: center;
}

.translate-buttons {
    padding-bottom: 2vh;
}

.mp-text {
    position: relative;
}

.mp-player {
    position: relative;
    width: 50vw;
    height: 35vh;
}

.mp-image {
    position: absolute;
    width: 15vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.cd {
    position: absolute;
    width: 11vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

.cd.rotating {
    animation-play-state: running;
}

.mp-button {
    position: relative;
}

.piano {
    width: 42vw;
    height: 32vh;
    padding-top: 6vh;
}

.key {
    width: 7%;
    height: 100%;
    background-color: white;
    display: inline-flex;
    border: 1px black solid;
    justify-content: center;
    align-items: end;
}