body {
    background-color: #f1ece6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

.piano {
    width: 100%;
    height: 40vh;
    padding-top: 10vh;
}

.key {
    width: 5%;
    height: 100%;
    background-color: white;
    display: inline-flex;
    border: 1px black solid;
    justify-content: center;
    align-items: end;
}